extend includes/layout

block content
	.container
		.row
			.col-md-12
				h1 Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
				p
					strong Pellentesque habitant morbi tristique 
					| senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
					em Aenean ultricies mi vitae est. 
					| Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, code commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. 
					a(href='#') Donec non enim 
					| in turpis pulvinar facilisis. Ut felis.
				button.btn.btn-default.btn-sm Button Default
				hr
				h2 Header Level 2
				p: img(data-src="holder.js/200x200/#555:#fff/text:holderjs", alt="placeholder image").img-responsive.img-thumbnail
				:markdown
					**Donec quam felis, ultricies nec,** *pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.*

				ol
					li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
					li Aliquam tincidunt mauris eu risus.
				blockquote
					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.
				h3 Header Level 3
				ul.list-unstyled
					li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
						ul
							li child list item.
					li Aliquam tincidunt mauris eu risus.
		hr
		.row
			.col-md-12
				small Lorem ipsum dolor sit amet, consectetuer adipiscing elit.