extend includes/layout

block content
	.container
		.row
			.col-md-8
				h1 jdlestrap
				p
					span.glyphicon.glyphicon-cog
					|  Modified version Bootstrap 3 + Jade template.

				hr
				h2 Getting Started
				p Install some components.
				pre
					code npm install;
				p Run local gulpjs.
				pre
					code npm start;
				:markdown
					Browser-Sync detect local files change.

				hr
				small
					span.label.label-info Change
					|  Add navbar autohide(scrollup) function. See templates/layout.jade file.
				hr

			.col-md-4
				h3 Hello World
				p.lead Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
				button.btn.btn-success.btn-sm Sample Button
